.contenido {
    text-align: center;
    display: flex;
    justify-content: center;
}


.galeria img {
    box-shadow: 0 8px 10px -4px rgba(0, 0, 0, .6);

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 300px;

}

#galeria img {
    box-shadow: 0 8px 10px -4px rgba(0, 0, 0, .6);

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 400px;
}

.galeria .col {
    margin-bottom: 30px;
}

.titulo {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    width: 100%;
    background-color: #f37674;
    height: 48px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}


.boton2 {
    background: #AA1914;
    border-bottom: 5px solid #AA1914;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 900;
    width: 200px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease 0s;
}

.boton2:hover {
    background: #f37674;
}

.texto {
    text-align: justify;
}

.boton3 {
    background: #001971;
    border-bottom: 5px solid #5168bb;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 900;
    width: 200px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease 0s;


}

.boton3:hover {
    background: #5168bb;
}


#card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

#card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

#card-text {
    font-size: 18px;
    margin-top: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}

.vinculoTitulo {

    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
}

#vinculoTitulo2 {

    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
}

#card-title {
    font-size: 25px;
    margin-bottom: 7px;
}

.botonGC {

    text-align: center;
    display: flex;
    justify-content: center;
}



.vinculoTitulo {
    text-decoration: none;
    color: black;
}

.fecha {
    font-size: 13px;
}

.btn-circle {
    width: 45px;
    height: 45px;
    padding: 6px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    line-height: 1.42857;
}